
@{
    ViewData["Title"] = "Index";
}

@{
    ViewData["Title"] = "Index";
}

@{
    ViewData["Title"] = "Index";
}

@model List<Slider>

<header class="main-header navbar">
    <div class="col-search">
        <form class="searchform">
            <div class="input-group">
                <input list="search_terms" type="text" class="form-control" placeholder="Search term" />
                <button class="btn btn-light bg" type="button"><i class="material-icons md-search"></i></button>
            </div>
            <datalist id="search_terms">
                <option value="Products"></option>
                <option value="New orders"></option>
                <option value="Apple iphone"></option>
                <option value="Ahmed Hassan"></option>
            </datalist>
        </form>
    </div>
    <div class="col-nav">
        <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i class="material-icons md-apps"></i></button>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link btn-icon" href="#">
                    <i class="material-icons md-notifications animation-shake"></i>
                    <span class="badge rounded-pill">3</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
            </li>
            <li class="nav-item">
                <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
            </li>
            <li class="dropdown nav-item">
                <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                    <a class="dropdown-item text-brand" href="#"><img src="~/admin/assets/imgs/theme/flag-us.png" alt="English" />English</a>
                    <a class="dropdown-item" href="#"><img src="~/admin/assets/imgs/theme/flag-fr.png" alt="Français" />Français</a>
                    <a class="dropdown-item" href="#"><img src="~/admin/assets/imgs/theme/flag-jp.png" alt="Français" />日本語</a>
                    <a class="dropdown-item" href="#"><img src="~/admin/assets/imgs/theme/flag-cn.png" alt="Français" />中国人</a>
                </div>
            </li>
            <li class="dropdown nav-item">
                <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="~/admin/assets/imgs/people/avatar-2.png" alt="User" /></a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                    <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                    <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                    <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                    <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                    <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                </div>
            </li>
        </ul>
    </div>
</header>
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Categories</h2>
            <p>Add, edit or delete a category</p>
        </div>
        <div>
            <input type="text" placeholder="Search Categories" class="form-control bg-white" />
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <form method="post" asp-action="Create">
                        <input type="number" name="Id" id="Id" style="visibility:hidden;" />
                        <div class="mb-4">
                            <label for="Title1" class="form-label">Title 1</label>
                            <input type="text" name="Title1" placeholder="Type here" class="form-control" id="Title1" />
                        </div>
                        <div class="mb-4">
                            <label for="Title2" class="form-label">Title 2</label>
                            <input type="text" name="Title2" placeholder="Type here" class="form-control" id="Title2" />
                        </div>
                        <div class="mb-4">
                            <label for="Description" class="form-label">Description</label>
                            <input type="text" name="Description" placeholder="Type here" class="form-control" id="Description" />
                        </div>
                        <div class="mb-4">
                            <label for="RedirectUrl" class="form-label">Redirect Url</label>
                            <input type="text" name="RedirectUrl" placeholder="Type here" class="form-control" id="	RedirectUrl" />
                        </div>
                        <div class="mb-4">
                            <label for="RedirectUrlText" class="form-label">Redirect Url Text</label>
                            <input type="text" name="RedirectUrlText" placeholder="Type here" class="form-control" id="RedirectUrlText" />
                        </div>
                        <div class="mb-4">
                            <label for="Image" class="form-label">Image</label>
                            <input type="text" name="Image" placeholder="Type here" class="form-control" id="Image" />
                        </div>
                        <div class="d-grid">
                            <button id="Create" class="btn btn-primary">Create slider</button>
                            <button id="Edit" class="btn btn-secondary d-none">Edit slider</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-9">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" />
                                        </div>
                                    </th>
                                    <th>ID</th>
                                    <th>Logo</th>
                                    <th>Title 1</th>
                                    <th>Title 2</th>
                                    <th>Description</th>
                                    <th>Redirect Url</th>
                                    <th>Redirect Url Text</th>
                                    <th class="text-end">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr >
                                        <td class="text-center">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" />
                                            </div>
                                        </td>
                                        <td>@item.Id</td>
                                        <td><img width=80px; src="~/image/bg-images/@item.Image" alt="Logo" /></td>
                                        <td><b>@item.Title1</b></td>
                                        <td><b>@item.Title2</b></td>
                                        <td>@item.Description</td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-end">
                                            <div class="dropdown">
                                                <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">View detail</a>
                                                    <a class="dropdown-item btnEdit" asp-area="Manage" asp-controller="Edit" asp-action="Index" asp-route-id="@item.Id"  >Edit info</a>
                                                    <a class="dropdown-item" asp-controller="AdminCategory" asp-action="Repair" asp-route-id="@item.Id">Repair</a>
                                                    <a class="dropdown-item text-danger" asp-area="Manage" asp-controller="AdminCategory" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                                    <a class="dropdown-item text-danger" asp-controller="AdminCategory" asp-action="DeleteOnServer" asp-route-id="@item.Id">Delete On Server</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- .col// -->
            </div>
            <!-- .row // -->
        </div>
        <!-- card body .// -->
    </div>
    <!-- card .// -->
</section>


